<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="zhiwenyan.cmccaifu.com.androidadvanced">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!--jobService 权限-->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>


    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">

        </activity>

        <service android:name=".service.MessageService">
        </service>
        <service
            android:name=".service.GuardService"
            android:process=":guardService"/>
        <service
            android:name=".service.JokeWakeUpService"
            android:process=":jokewakeupservice"/>

        <activity
            android:name=".fragment.BottomNavigationActivity"
            android:label="@string/title_activity_bottom_navigation">
        </activity>
    <activity android:name=".activity.SkinActivity">
    </activity>

        <service android:name=".ipc.MessageService">
            <intent-filter>
                <action android:name="com.fumi.ipc"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </service>


        <activity android:name=".selectImage.SelectImageActivity">
        </activity>
        <activity android:name=".selectImage.TestImageActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ioc.IocActivity">
        </activity>
        <activity
            android:name=".ipc.IPCActivity"
            android:process=":remote">
        </activity>

        <service android:name=".service.simple.MessageService"/>
        <service
            android:name=".service.simple.GuardService"
            android:process=":GuardService"/>
        <service
            android:name=".service.simple.JobWakeUpService"
            android:enabled="true"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:process=":JobWakeUpService"/>


        <activity android:name=".service.simple.ServiceActivity">


        </activity>
    </application>

</manifest>